# ./mysql/*
# mysql/*
./mysql/dbdata/*
mysql/dbdata/*
mysql/dbdata/auto.cnf
mysql/dbdata/ib_buffer_pool
mysql/dbdata/ib_logfile0
mysql/dbdata/ibdata1
mysql/dbdata/ibtmp1
app/app/static/ratings.csv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.pyc